# Dependencies
/node_modules

# Build output
/dist
/build

# Misc
.DS_Store
*.pem

# Logs
*.log

# Debug
npm-debug.log*

# Local environment files
.env*.local
.env

# Typescript
*.tsbuildinfo
next-env.d.ts